header {
    text-align: center;
    font-family: Georgia, serif;
    color: #DDA740;
    margin: 0;
    padding: 0;
}

.arp {
    font: 500;
    color: #6A5530;
    background-color: #DDA740;
    margin: 0;
    padding: 50px;
    font-size: 50px;
}

.titleArp {
    background-color: #292220;
    margin: 0;
    padding: 0;
    padding: 50px;
    font-size: 50px;
}

.webBody {
    background-color: #F4E2AB;
    margin: 0;
    padding: 0;
}

#accountRegistration {
    background-color: #DDA740;
    padding: 50px;
    margin: 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #292220;
}

.username {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.passwrd {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.conpasswrd {
    width: 200px;
    height: auto;
    margin-bottom: 50px;
}

.register {
    font-size: 50px;
    height: auto;
    width: auto;
    font-family: Georgia, serif;
    color: #6A5530;
}

.fooTer {
    text-align: center;
    color:#F4E2AB;
    background-color: #292220;
    padding: 50px;
    font-size: 50px;
    margin: 0;
    font-family: Courier, monospace;
}